<footer class="bg-black text-white text-center text-lg-start mt-3">
    <div class="container p-1">
        <!--Grid row-->
        <div class="row">
            <!--Grid column-->
            <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
                <h5 class="text-uppercase text-white">About Us</h5>
                <p>
                    Welcome to IMAGITALE! We provide an amazing platform for generating your own cartoon stories. Enjoy creating and sharing your stories with friends and family.
                </p>
            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                <h5 class="text-uppercase text-white">Quick Links</h5>
                <ul class="list-unstyled mb-0">
                    <li>
                        <a href="{% url 'home' %}" class="text-white">Home</a>
                    </li>
                    <li>
                        <a href="{% url 'generate_story' %}" class="text-white">Generate Story</a>
                    </li>
                    <li>
                        <a href="" class="text-white">Generate Image</a>
                    </li>
                    {% if user.is_authenticated %}
                    <li>
                        <a href="{% url 'user_stories' %}" class="text-white">My Stories</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
            <!--Grid column-->

            <!--Supervision column-->
            <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                <h5 class="text-uppercase text-white">Supervision</h5>
                <p>
                    This project is conducted under the supervision of the Faculty of Computers and Artificial Intelligence, Cairo University.
                </p>
            </div>
            <!--Supervision column-->

        </div>
        <!--Grid row-->
    </div>
    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        © 2024 Disney Story Generator
    </div>
</footer>
