<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}My Site{% endblock %}</title>
    {% load static %}
    <!-- Include Bootstrap CSS and custom styles -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap-icons.css' %}">
    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/slick.css' %}">
    <link rel="stylesheet" href="{% static 'css/tooplate-little-fashion.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
{% include '_navbar.html' %}
<div class="content">
    {% block content %}{% endblock %}
</div>
{% include '_footer.html' %}
<!-- Include Bootstrap JS and custom scripts -->
<script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script>
</body>
</html>
