{% extends "base.html" %}

{% block title %}{{ story_data.title }}{% endblock %}

{% block content %}
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-10">
                <div class="card mt-5">
                    <div class="card-header text-center">
                        <h2>{{ story_data.title }}</h2>
                    </div>
                    <div class="card-body text-center">
                        {% if story_data %}
                            <h3>Generated Story:</h3>
                            <div id="scenes" class="d-flex justify-content-center align-items-center flex-column">
                                {% for scene in story_data.story %}
                                    <div class="scene-container{% if forloop.first %} active{% endif %}" style="display: none;">
                                        <div class="scene-content">
                                            <img src="{{ scene.image_url }}" alt="Scene Image" class="fixed-dimensions mb-3">
                                            <p>{{ scene.paragraph }}</p>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                            <div class="d-flex justify-content-between mt-3">
                                <div>
                                    {% if user.is_authenticated %}
                                        {% if not is_saved %}
                                            <form id="save-form" method="post" class="d-inline">
                                                {% csrf_token %}
                                                <button type="submit" name="save" class="btn btn-primary">Save Story</button>
                                            </form>
                                        {% endif %}
                                        <button id="send-story-btn" class="btn btn-secondary">Send Story</button>
                                    {% endif %}
                                    <a href="{% url 'home' %}" class="btn btn-light">Back to Home</a>
                                </div>
                                <div>
                                    <button id="prev" onclick="showPrevScene()" class="btn btn-primary" disabled>Previous</button>
                                    <button id="next" onclick="showNextScene()" class="btn btn-primary">Next</button>
                                </div>
                            </div>
                            <div class="loader" id="loader" style="display: none;"></div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Popup Form -->
    <div id="send-story-popup" class="popup">
        <div class="popup-content">
            <span class="close" onclick="closePopup()">&times;</span>
            <h2>Send Story</h2>
            <form id="send-story-form">
                <label for="email">Enter the email of an existing user:</label>
                <input type="email" id="email" name="email" class="form-control" required>
                <button type="submit" class="btn btn-primary mt-2">Send</button>
            </form>
            <div id="email-error" class="error-message"></div>
        </div>
    </div>

    <script>
        let currentScene = 0;
        let storyData = '{{ story }}'; // Pass the story data as a JavaScript object
        storyData = JSON.parse(storyData.replace(/&quot;/g,'"'));

        function showScene(index) {
            const scenes = document.querySelectorAll('.scene-container');
            scenes.forEach((scene, idx) => {
                scene.classList.toggle('active', idx === index);
                scene.style.display = idx === index ? 'flex' : 'none';
            });

            document.getElementById('prev').disabled = index === 0;
            document.getElementById('next').disabled = index === scenes.length - 1;
        }

        function showNextScene() {
            const scenes = document.querySelectorAll('.scene-container');
            if (currentScene < scenes.length - 1) {
                currentScene++;
                showScene(currentScene);
            }
        }

        function showPrevScene() {
            if (currentScene > 0) {
                currentScene--;
                showScene(currentScene);
            }
        }

        const saveForm = document.getElementById('save-form');
        if (saveForm) {
            saveForm.addEventListener('submit', function() {
                document.getElementById('loader').style.display = 'block';
            });
        }

        // Initial display setting
        document.addEventListener('DOMContentLoaded', function() {
            showScene(currentScene);
        });

        // Popup functionality
        document.getElementById('send-story-btn').addEventListener('click', function() {
            document.getElementById('send-story-popup').style.display = 'block';
        });

        function closePopup() {
            document.getElementById('send-story-popup').style.display = 'none';
        }

        document.getElementById('send-story-form').addEventListener('submit', function(event) {
            event.preventDefault();
            const email = document.getElementById('email').value;

            // AJAX request to check if the email exists
            fetch("{% url 'check_user_email' %}", {
                method: "POST",
                headers: {
                    "Content-Type": "application/json",
                    "X-CSRFToken": "{{ csrf_token }}",
                },
                body: JSON.stringify({ email: email, story_data: storyData }),
            })
                .then(response => response.json())
                .then(data => {
                    if (data.exists) {
                        // Story sent successfully
                        alert("Story sent successfully!");
                        closePopup();
                    } else {
                        document.getElementById('email-error').innerText = "User does not exist.";
                    }
                });
        });
    </script>

    <style>
        /* Popup styles */
        .popup {
            display: none;
            position: fixed;
            z-index: 1;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            overflow: auto;
            background-color: rgb(0,0,0);
            background-color: rgba(0,0,0,0.4);
        }

        .popup-content {
            background-color: #fefefe;
            margin: 15% auto;
            padding: 20px;
            border: 1px solid #888;
            width: 80%;
            max-width: 400px;
            border-radius: 10px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        }

        .close {
            color: #aaa;
            float: right;
            font-size: 28px;
            font-weight: bold;
        }

        .close:hover,
        .close:focus {
            color: black;
            text-decoration: none;
            cursor: pointer;
        }

        .error-message {
            color: red;
            margin-top: 10px;
        }

        .scene-container {
            display: none;
            justify-content: center;
            align-items: center;
            text-align: center;
        }

        .scene-container.active {
            display: flex;
            flex-direction: column;
        }

        .scene-content img {
            max-width: 100%;
            height: auto;
            margin-bottom: 20px;
        }

        .fixed-dimensions {
            width: 400px; /* Fixed width */
            height: 400px; /* Fixed height */
            object-fit: cover; /* Ensures image covers the area */
        }

        .scene-content p {
            text-align: justify;
        }
    </style>
{% endblock %}
