{% extends "base.html" %}
{% load static %}
{% load form_tags %}

{% block title %}Generate Story{% endblock %}

{% block content %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card mt-5">
                    <div class="card-header">
                        <h2 class="text-center">Generate a Disney Story</h2>
                    </div>
                    <div class="card-body">
                        <form id="story-form" method="post">
                            {% csrf_token %}
                            <div class="mb-3">
                                <label for="id_description" class="form-label">Story Description:</label>
                                {{ form.description|add_class:"form-control" }}
                                {% if form.errors.description %}
                                    <div class="alert alert-danger mt-2" id="error-messages">
                                        <p>{{ form.errors.description.0 }}</p> <!-- Display the first error only -->
                                    </div>
                                {% endif %}
                            </div>
                            <div class="mb-3">
                                <label for="id_num_scenes" class="form-label">Number of Scenes:</label>
                                {{ form.num_scenes|add_class:"form-control" }}
                            </div>
                            <div class="d-grid gap-2">
                                <button type="submit" class="btn btn-primary">Generate Story</button>
                            </div>
                        </form>
                        <div class="loader" id="loader" style="display: none;"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
