{% extends "base.html" %}

{% block title %}My Stories{% endblock %}

{% block content %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8 mt-5">
                <h2 class="text-center text-white">My Stories</h2>
                <div class="stories-container">
                    <ul class="list-group">
                        {% for story in stories %}
                            <li class="list-group-item">
                                <a href="{% url 'story_detail' story.id %}">{{ story.title }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
